body 
  {
    background-color: #efefef;
    font-family: Arial ;
    color: #333333;
    margin: 14px;
  }

.flotte
{
float:left;
}

.flotte2
{
float:right;
}

.images {
width:100px;
height:100px;
}
