
.flotte
{
float:left;
}


body
  {
    background-color: #efefef;
    font-family: Arial ;
    color: #333333;
    
 width:200px;
 padding:40px;
 margin:auto;
 
  }
h1
  { 
  font-family: Times New Roman;
  margin: 30px;
  color: #004a8f;
  font-weight: bold;

  }



.images {
width:120px;
height:120px;
 }

h1 { text-align: center }
h2 { text-align: center  }
ul { text-align: left ;margin: 2px 5px 2em 0; border: 20px solid rgba(0,0,0,0.5) }
h3 { text-align: center ; margin: 20px }
