body
  {
    background-color: #efefef;
    font-family: Arial ;
    color: #333333;
    margin: 14px;
  }
h1
  {
  
  font-family: Times New Roman;
  margin: 30px;
  color: #004a8f;
  font-weight: bold;
  }


flotte
{
float:left;
}

flotte2
{
float:right;
}

images {
width:100px;
height:100px;
}

